PORTUS_MACHINE_FQDN_VALUE=<domain>

PORTUS_DB_PASSWORD=<password-for-maria-db>
PORTUS_SECRET_KEY_BASE=
PORTUS_PASSWORD=<password-for-portus-management-user>

# Set to true for initial deployment and set to false after creating admin
PORTUS_SIGNUP_ENABLED=false
